<div class="card">
  <div class="card__header">
    <tooltip>
      <h1 label style="text-decoration: underline;">YOLO</h1>
      <div tip class="tooltip__tip__content">
        YOLO stands for <h4 style="display: inline">You only live once.</h4> You can read more from <a href="https://medium.com/@iantang/the-real-meaning-of-yolo-41bb03e8324f">this medium article</a>!
      </div>
    </tooltip>
  </div>
  <div class="card__content">
    <h1>Literally</h1>
  </div>
</div>

<div class="card">
  <div class="card__header card__header--center">
    <tooltip>
      <h1 label style="text-decoration: underline;">YOLO</h1>
      <div tip class="tooltip__tip__content">
        YOLO stands for <h4 style="display: inline">You only live once.</h4> You can read more from <a href="https://medium.com/@iantang/the-real-meaning-of-yolo-41bb03e8324f">this medium article</a>!
      </div>
    </tooltip>
  </div>
  <div class="card__content">
    <h1>Literally</h1>
  </div>
</div>

<div class="card">
  <div class="card__header card__header--right">
    <tooltip>
      <h1 label style="text-decoration: underline;">YOLO</h1>
      <div tip class="tooltip__tip__content">
        YOLO stands for <h4 style="display: inline">You only live once.</h4> You can read more from <a href="https://medium.com/@iantang/the-real-meaning-of-yolo-41bb03e8324f">this medium article</a>!
      </div>
    </tooltip>
  </div>
  <div class="card__content">
    <h1>Literally</h1>
  </div>
</div>
